@keyframes slideDownAlert {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
#alert {
    position: absolute;
    z-index: 100;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2em;
    overflow: hidden;
    box-shadow: 0 0 5px $colDark;
    animation: slideDownAlert 1s linear;
    font-size: 1.2em;
    button {
        background-color:transparent ;
        color: $colDark;
        outline: none;
        border: none;
        font-size: 1.5em;
        vertical-align: center
    }
    &.alert-error {background:$colError;}
    &.alert-success {background: $colSuccess;}
}