body {
   background-color: lighten($colThird,30%);
   font-family: "fontRegular";
   a {
    font-family: "fontRegular";
    h1,h2,h3,h4,h5,h6 {
      font-family: "fontBlack";
 
    }
  }
   * { box-sizing: border-box; }
 }
 .container {
   width: 90%;
   margin: 0 auto;
   max-width: 1284px;
 }
 @media screen and (max-width:$breakPMd) {
  .container { 
    width: 100%;
  }
 }
