.cards {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  
  @media (min-width: $breakPMd) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: $breakPLg) {
    grid-template-columns: repeat(4, 1fr);
  }
}



.card {  
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: $borRadius;
  box-shadow: $cardShadow;
  
  @media (min-width: $breakPMd) {
    height: 350px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(#{$transTime} * 1.5) $effectBezier;
    pointer-events: none;
    
  }
  
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 25%,
      rgba(0, 0, 0, 0.30) 50%,
      rgba(0, 0, 0, 0.45) 75%,
      rgba(0, 0, 0, 0.6) 100%
    );

    transform: translateY(-50%);
    transition: transform calc(#{$transTime} * 2) $effectBezier;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform #{$transTime} $effectBezier;
  z-index: 1;
}

.title {
  background-color: white;
  color: $colMain;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  width: 160%;

}

.summary {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.cardBtn {
  @extend %mainButton;


  // cursor: pointer;
  margin-top: 1.5rem;
  // padding: 0.75rem 1.5rem;
  // font-size: 0.65rem;
  // font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  // background-color: $colMain;
  border: none;
  
  &:hover {
    background-color: lighten($colMain, 10%);
  }
  
  &:focus {
    outline: 1px dashed lighten($colMain, 10%);
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $breakPMd) {
  .card:after {
    transform: translateY(0);
  }
  
  .content {
    transform: translateY(calc(100% - 4.5rem));
    
    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition:
        transform #{$transTime} $effectBezier,
        opacity #{$transTime} $effectBezier;
    }
  }
  
  .card:hover,
  .card:focus-within {
    align-items: center;

    &:before { transform: translateY(-4%); }
    &:after { transform: translateY(-50%); }

    .content {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(#{$transTime} / 8);
      }
    }
  }
  
  .card:focus-within {
    &:before,
    &:after,
    .content,
    .content > *:not(.title) {
      transition-duration: 0s;
    }
  }
}