.site-footer {
    padding: 2rem 0 1rem;
    background-color: $colMain;
    color: white;
    width: 100%;
    padding-top: 2rem .4rem;
    .site-footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        .site-footer-head {
            text-align: center;
            width: 100%;
            > :first-child {
                padding: $padTitle;
            }
            :not(:first-child){
                color: $colMain;
                &:hover {
                    color: $colClear;
                    transition: all $transTime;
                    .icon-background {
                        color: $colMain;
                        border: 1px solid $colClear;
                        border-radius: 50%;
                    }
                }
                .icon-background {
                    color: $colClear;
                } 
            }
        }
        .site-footer-body {
            padding: $marTitle;
            width: 100%;
            @include flex(row, space-between, flex-start, wrap);
            > * {
                padding-top: .5rem;
                width: calc(100% / 3);
                @media screen and (max-width:$breakPSm) {
                    & {
                        width: 50%;
                    }
                    &:first-child {
                        width: 100%;
                    }
                }
            }
            > ul {
                text-align: center;
                li {
                    a {
                        color: $colClear;
                        line-height: $sizeMenu;
                        
                        &:hover {                            
                            background-color: $colClear;
                            color: $colMain;
                            transition: all $transTime;
                        }
                    }
                }
                h3 {
                   font-weight: 600;
                   padding: $padTitle;
                }
            }

        }
        .site-footer-footer {
            position: relative;
            text-align: center;
            font-size: $sizeSmall;
            width: 100%;
            a {
                color: $colClear;
                line-height: $sizeMenu;
                text-decoration: underline;
                &:hover {                            
                    background-color: $colClear;
                    color: $colMain;
                    transition: all $transTime;
                    $font-size: calc(#{$sizeSmall} + .1rem)
                }
            }
        }
    }
}