.latest-recipes {
    padding: $padSection;
    .not-carousel {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        height: 400px;
        .last-recipe {
            @extend %mainCard;
            &:first-child {
                width: 50% ;
                height: 400px;
            }
            &:nth-child(2), &:nth-child(3) {
                width: 50%;
                height: 200px;
            }
            @media screen and (min-width:$breakPLg) {
                & {
                    width:calc(100% / 3) !important;
                    height: 400px !important;
                }     
            }
        }
        @media screen and (min-width:calc(#{$breakPSm} + 1px)) {  
            & {
                display: flex;
            }    
        }
        @media screen and (max-width: $breakPSm) {  
            & {
                display: none;
            } 
        }
    }
    .carousel {
        .flickity-page-dots .dot {
            height: 4px;
            width: 40px;
            margin: 0;
            border-radius: 0;
            background-color: $colMain;
        }
        // background: #EEE;
        .carousel-cell {
          width: 100%;
          height: 400px;
          margin-right: 10px;
          background: $colThird;
          border-radius: 5px;
          background-position: center;
          background-repeat: no-repeat;
          @extend %mainCard;
        }
        @media screen and (min-width:calc(#{$breakPSm} + 1px)) {  
            & {
                display: none;
            }    
        }
        @media screen and (max-width: $breakPSm) {
            & {
                display: block;
            }
        }   
    }
}
