.latest-recipes {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 200px 200px;
    &:first-child { 
        grid-column: span 6;
        grid-row: span 2;
    }
    &:nth-child(2) { 
        grid-column: span 6;
    }
    &:last-child { 
        grid-column: span 6; 
    }
}