.form-login {
    position: absolute;
    top: 50%;
    left: 50%;
    background: $colLight;
    width: 300px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    h2 {
        margin: 10px 0 20px;
        line-height: 1;
        color: $colMain;
        font-size: 18px;
        font-weight: 400;
    }
    input {
        outline: none;
        display: block;
        width: 100%;
        margin: 0 0 20px;
        padding: 10px 15px;
        border: 1px solid $colSecond;
        color: $colMain;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        transition: 0.2s linear;
        &input:focus {
            color: $colSecond;
            border: 1px solid $colMain;
        }
    }
    button {
        cursor: pointer;
        background: $colMain;
        width: 100%;
        padding: 10px 15px;
        border: 0;
        color: $colThird;
        font-size: 14px;
        font-weight: 400;
        &:hover {
            background: darken($colMain,0.5);
        }
    }
}

@media screen and (max-width:600px) {
    .form-login {
        width: 100%;
    }
}