// CONTAINER
%container {
    width: 90%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
%fullXY {
    width: 100%;
    height: 100%;
    position: relative;
}

// POSITION
%absCenterXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%fixCenterXY {
    position: fixed;
    top: 0;
    left: 0;
}
%absCenterY {
    position: absolute;
    margin: 0 auto;
    transform: translate(0, -50%);  
}
%relCenterXY {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%relCenterY {
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translate(0, -50%);  
}
%relCenter {
    position: relative;
    margin: 0 auto;
}

// IMAGE FLUID
%imgFluid {
    height: 100%;
    width: 100%;
    overflow: hidden;  
}
// BUTTON
%mainButton {
    cursor: $cursorClick;
    background-color: $colBtn;
    padding: $padBtn;
    border: $borTransp;
    outline: $borTransp;
    color: $colLight;
    font-weight: $weightBold;
    font-size: $sizeSmall ;
    letter-spacing: $letterSpace;
    transition: $transSmooth;
    &:hover {
        background-color: lighten($colBtn, $colVar);
    }
    &:active {
        outline: 1px dashed lighten($colMain, $colVar);
        outline-offset: 3px; 
    }
}
%miniButton {
    cursor: $cursorClick;
    background-color: transparent;
    border: $borTransp;
    outline: $borTransp;
    color: $colMain;
    font-weight: $weightBold;
    font-size: $sizeText ;
    letter-spacing: $letterSpace;
    transition: $transSmooth;
    // &:hover::after {
        
    // }
    
        // outline: 1px dashed lighten($colMain, $colVar);
        // outline-offset: 3px; 
    
}
// CARD
%mainCard {
    position: relative;
    display: flex;
    align-items: flex-end;
    // overflow: hidden;
    // padding: 1rem;
    text-align: center;
    color: $colClear;
    background-color: $colClear;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $borRadius;
    box-shadow: $cardShadow;
    border: 1px solid white;
    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 1;
        .card-title {
            background-color: white;
            color: $colMain;
            font-size: 1rem;
            font-weight: 100;
            line-height: 1.2;
            display: block;
            width: 100%;
            text-align: center;
        }
    }
    &::after {
        display: none;
        content: '';
        height: 100%;
        width: 100%;
        border-radius: $borRadius;
        position: absolute;
        background-color: $colOverlay;
    }
    &:hover::after {
        display: block;
        transition: all 1s;
    }
}


// INPUT
%mainInput {
    display: block;
    width: 100%;
    margin: $marInput;
    padding: $padInput;
    border: $border2;
    outline: $borTransp;
    color: $colMain;
    font-size: $sizeSmall;
    font-weight: $weightReg;
    transition: $transSmooth;
    resize: none;
    &:focus {
        outline: $border;
    }
}
// FONT
%spanMin {
    font-weight: 700;
    font-size: .9rem;    
}
%spanPlus {
    font-weight: 700;
    font-size: 1.1rem;    
}
// TITLES
%nice-title {
    text-transform: uppercase;
    text-align: center;
    margin: $marTitle;
    line-height: 1;
    color: $colSecond;
    font-size: $sizeTitle1;
    font-family: "fontSerif";
    
    :nth-child(2){
      color: $colMain;
      font-size: $sizeTitle2;
      font-family: "fontRegular";
      font-weight: bold;
    }
}

%section-title {
  text-transform: uppercase;
  margin: $marTitle;
  line-height: 1;
  color: $colSecond;
  font-size: $sizeMenu;
  text-align: left;
  &::after{
    content: '';
    display: block;
    width: 99%;
    border: 1px solid $colThird;
  }
}

// POP UP
%popup {
    animation-name: popup;
    animation-duration: .5s;
    opacity: 1;
    @keyframes popup {
        from {opacity: 0;}
        to {opacity: 1;}
    }
}
// TOOLTIP
%tooltip {
    &:hover em {
        display: block;
      }
      em {
        display: none;
        font-size: $sizeSmall;
        font-weight: 100;
        background: $colClear;
        position: absolute;
        right: 0;
        z-index: 1000;
      }
}

// BG IMAGE
// %bgImage {
//     background-image: url();
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
// }
// %overlay {
//     width: 100%;
//     height: 100%;
//     background-color: $colDark;
//     opacity: .5;
//     position: absolute;
//     z-index: 0;   
// }