// CONTENT WIDTH 90%
%container {
    width: 90%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
// POSITION
%absCenterXY {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%absCenterY {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);  
}
%relCenterY {
    position: relative;
    top: 50%;
    left: 0%;
    transform: translate(0, -50%);  
}
// IMAGE FLUID
%imgFluid {
    height: 100%;
    width: 100%;
    overflow: hidden;  
}
// BUTTON
%mainButton {
    padding: 2em;
    font-weight: 800;
    background: linear-gradient(to right, $colBtn1, $colBtn2);
    color: $colLight;
    border-radius: $borRadius;
}
// INPUT
%inputLight {
    padding: $padInput;
    background-color: $colLight;
    border: $border;
    border-radius: $borRadius;
    color: $colDark;
}
%inputDark {
    padding: $padInput;
    background-color: $colDark;
    border: $border;
    border-radius: $borRadius;
    color: $colDark;
}
%inputTransp {
    padding: $padInput;
    background-color: transparent;
    border: none;
    border-radius: $borRadius;
    color: $colLight;
}
// FONT
%spanMin {
    font-weight: 700;
    font-size: .9rem;    
}
%spanPlus {
    font-weight: 700;
    font-size: 1.1rem;    
}
// BG IMAGE
%bgImage {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
%overlay {
    width: 100%;
    height: 100%;
    background-color: $colDark;
    opacity: .5;
    position: absolute;
    z-index: 0;   
}