.show-recipe {
    padding: $padSection;
    .recipe-image{
        text-align: center;
        width: 100%;
        height: 50vh;
        max-height: 600px;
        background-color: $colSecond;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .recipe-buttons {
            position: relative;
            display: flex;
            top: 100%;
            transform: translate(0, -50%);
            .recipe-btn {
                @extend %mainButton;
                width: 50%;
                &:first-child {
                    border-right: 1px solid white;
                }
            }
        }
    }
    .recipe-content {
        padding: $padSection;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .content-left {
            flex: 75%;

            
            .recipe-date{
                font-size: $sizeSmall;
            }
            .recipe-title {
                text-transform: uppercase;
                margin: $padTitle;
                line-height: 1;
                color: $colSecond;
                font-size: $sizeTitle1;
                font-family: "fontSerif";


            }
            .recipe-description {
                box-shadow: -0.4rem 0 0 0 $colMain;
                border-left: 0.4rem solid transparent;
            }
        }
    }
}
@media screen and (max-width:$breakPMd) {
    .show-recipe {
        .recipe-image{
            height: 30vh;
        }
        .recipe-content {
            padding: $padSectionMd;
        }
    }
     
}