// COLORS
    // THEME
    $colMain : rgba(187, 114, 127, 1);
    $colSecond : rgba(112, 112, 112, 1);
    $colThird : rgba(181, 181, 181, 1);
    // SECONDARY
    $colDark: rgba(51,51,51,1);
    $colLight: rgba(240,240,240,1);
    $colClear: rgba(255,255,255,1); // white here
    $colOverlay: rgba(0,0,0,0.4);
    // ALERT
    $colSuccess: rgba(40,167,69,1);
    $colInfo: rgba(23,162,184,1);
    $colWarning: rgba(255,193,7,1);
    $colError: rgba(220,53,69,1);
    $colSuccess2: rgb(80, 207, 109);
    $colInfo2: rgba(63,202,224,1);
    $colWarning2: rgba(255,233,47,1);
    $colError2: rgba(255,93,109,1);
    //NETWORK
    $colNetFb:rgba(52, 82, 139, 1);
    $colNetTw:rgba(88, 175, 237, 1);
    $colNetGp:rgba(221, 75, 61, 1);
    $colNetIg:rgba(192, 51, 130, 1);
    
    //DARKEN - LIGHTEN VARIANCE
    $colVar: 8%; // opacity for darken / lighten
  


//SIZE
    //IMAGE
    $imgBig: 200px;
    $imgSmall: 100px;
    //NAVBAR 
    $navHeight:100px;

//BORDER - OUTLINE
    $borTransp: 1px solid transparent; //transparent border/outline
    $border: 1px solid $colMain;
    $border2: 1px solid $colSecond;
    // RADIUS
    $borRadius: 10px;

// CURSOR
    $cursorClick: pointer;

// FONT
    $sizeSmall:0.875rem;
    $sizeText:1rem; // normal size
    $sizeMenu:1.4rem; // nav
    $sizeTitle1: 1.8125rem; // title size 1
    $sizeTitle2: 2.125rem; // title size 2
    $letterSpace: 0.1rem; // letter space
    $weightBold: 800; // bold
    $weightReg:500; // regular
    $weightThin:100; //thin

//BUTTON
    $colBtn: $colMain; // color
    $padBtn: 15px; // padding
    

// PADDING & MARGING
    $padWindow: 2.5rem;
    $padSection: 3rem 0; // Section padding
    $padSectionMd: 2rem 0.4rem; // section padding for responsive
    //Title
    $padTitle: 0 0 1rem 0; // Title padding - simple padding bottom
    $marTitle: 1rem 0; // Title margin for big title
    $padBtn: .625rem .9rem; // Button padding
    $padInput: .625rem .9rem; // Input padding
    $marInput: 0 0 1.25rem; // Input margin


// TRANSITIONS 
    $transSmooth: 400ms all; // smooth transition
    // $transitColor: color 400;
    // EFFECTS
    $effectBezier: cubic-bezier(0.2, 1, 0.3, 1);
    // GLOBAL TRANSITION TIME
    $transTime: 700ms;

// BREAKPOINTS
$breakPSm: 540px;
$breakPMd: 720px;
$breakPLg: 960px;

// SHADOWS
$windowShadow: 0 0 3px $colThird; // for windows
$cardShadow:0 1px 1px $colThird, 0 2px 2px $colThird, 0 4px 4px $colThird, 0 8px 8px $colThird, 0 16px 16px $colThird; // for cards
