// COLORS
    // THEME
    $colMain : rgba(187, 114, 127, 1); 
    $colSecond : rgba(112, 112, 112, 1);
    $colThird : rgba(181, 181, 181, 1);
    // SECONDARY
    $colDark: rgba(51,51,51,1);
    $colLight: rgba(240,240,240,1);
    // ALERT
    $colSuccess: rgba(40,167,69,1);
    $colInfo: rgba(23,162,184,1);
    $colWarning: rgba(255,193,7,1);
    $colError: rgba(220,53,69,1);
    $colSuccess2: rgb(80, 207, 109);
    $colInfo2: rgba(63,202,224,1);
    $colWarning2: rgba(255,233,47,1);
    $colError2: rgba(255,93,109,1);
    //NETWORK
    $colNetFb:rgba(52, 82, 139, 1);
    $colNetTw:rgba(88, 175, 237, 1);
    $colNetGp:rgba(221, 75, 61, 1);
    $colNetIg:rgba(192, 51, 130, 1);

//SIZE
    //IMAGE
    $imgBig: 200px;
    $imgSmall: 100px;
    //NAVBAR 
    $navHeight:140px;

//BORDER
    // RADIUS
    $border: 1px solid $colMain;
    $borRadius: 10px;

// CURSOR
    $cursorClick: pointer;

// FONT
    $sizeText:1em; // normal size
    $sizeTitle1: 1.8125em; // title size 1
    $sizeTitle2: 2.125em; // title size 2
    $letterSpace: 0.1rem;
    $weightBold: 800; // bold
    $weightReg:500; // regular
    $weightThin:100; //thin
//BUTTON
    $colBtn: $colMain; // color
    $padBtn: 15px; // padding
    $borBtn: 0; // border

// PADDING & MARGING
    $padding: 10px;
    $padSection: 2em 0; // Section
    $padTitle: 0 0 15px 0; // Title
    $padBtn: 10px 35px; // Button
    $padInput: 10px; // Input
    $marBot: 10px;
    $marTitle:1em 0 2em; //Nice Title Margin



// TRANSITIONS 
    $transitAll: all 400;
    $transitColor: color 400;
    // EFFECTS
    $effectBezier: cubic-bezier(0.2, 1, 0.3, 1);
    // GLOBAL TRANSITION TIME
    $transTime: 700ms;

// BREAKPOINTS
$breakPSm: 480px;
$breakPMd: 600px;
$breakPLg: 800px;

// SHADOWNS
    // CARDS
    $cardShadow : 0 1px 1px rgba(0,0,0,0.1), 
    0 2px 2px rgba(0,0,0,0.1), 
    0 4px 4px rgba(0,0,0,0.1), 
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
