/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "fontRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "fontLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "fontBlack";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "fontStylized";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Allura-Regular.eot");
  src: url("../fonts/Allura-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Allura-Regular.ttf") format("truetype");
}
body {
  background-color: white;
  background-image: url("../img/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "fontRegular";
}
body a {
  font-family: "fontRegular";
}
body a h1, body a h2, body a h3, body a h4, body a h5, body a h6 {
  font-family: "fontBlack";
}
body * {
  box-sizing: border-box;
}

@keyframes slideDownAlert {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#alert {
  position: absolute;
  z-index: 100;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2em;
  overflow: hidden;
  box-shadow: 0 0 5px #333333;
  animation: slideDownAlert 1s linear;
  font-size: 1.2em;
}
#alert button {
  background-color: transparent;
  color: #333333;
  outline: none;
  border: none;
  font-size: 1.5em;
  vertical-align: center;
}
#alert.alert-error {
  background: #dc3545;
}
#alert.alert-success {
  background: #28a745;
}

.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #f0f0f0;
  width: 300px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.form-login h2 {
  margin: 10px 0 20px;
  line-height: 1;
  color: #BB727F;
  font-size: 18px;
  font-weight: 400;
}
.form-login input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #707070;
  color: #BB727F;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s linear;
}
.form-login inputinput:focus {
  color: #707070;
  border: 1px solid #BB727F;
}
.form-login button {
  cursor: pointer;
  background: #BB727F;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #B5B5B5;
  font-size: 14px;
  font-weight: 400;
}
.form-login button:hover {
  background: #ba707d;
}

@media screen and (max-width: 600px) {
  .form-login {
    width: 100%;
  }
}
.hero-image {
  background-image: linear-gradient(rgba(245, 245, 245, 0.2), rgba(0, 0, 0, 0.1)), url("../img/herobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text a {
  text-decoration: none;
  color: #B5B5B5;
  padding: 2rem;
  background-color: #BB727F;
  border: 1px border #707070;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 2em;
}

.hero-text a:hover {
  transform: scale(1.1);
}

nav {
  text-transform: uppercase;
  background-color: white;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  position: relative;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  padding-left: 2em;
}
nav ul li:last-child {
  display: none;
}
nav a {
  color: #B5B5B5;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0;
    align-items: baseline;
  }
  nav > a {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  nav ul li:not(:last-child) {
    display: none;
  }
  nav ul li:last-child {
    display: block;
    position: absolute;
    font-size: 2em;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }
  nav ul.responsive {
    flex-direction: column;
    width: 100%;
    margin-top: 140px;
  }
  nav ul.responsive li:not(:last-child) {
    display: block;
    width: 100%;
    background-color: white;
    z-index: 50;
    height: 100px;
    position: relative;
    padding: 0;
  }
  nav ul.responsive li:not(:last-child) a {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.navLines {
  height: 10px;
  border-top: 1px solid #BB727F;
  border-bottom: 1px solid #BB727F;
  margin: 0 1vw;
}

.cards {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(700ms * 1.5) cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.45) 75%, rgba(0, 0, 0, 0.6) 100%);
  transform: translateY(-50%);
  transition: transform calc(700ms * 2) cubic-bezier(0.2, 1, 0.3, 1);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform 700ms cubic-bezier(0.2, 1, 0.3, 1);
  z-index: 1;
}

.title {
  background-color: white;
  color: #BB727F;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  width: 160%;
}

.summary {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.cardBtn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #BB727F;
  border: none;
}
.cardBtn:hover {
  background-color: #cc949e;
}
.cardBtn:focus {
  outline: 1px dashed #cc949e;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform 700ms cubic-bezier(0.2, 1, 0.3, 1), opacity 700ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(700ms / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
/* Style the tab */
.tabs {
  overflow: hidden;
  border-bottom: double 1px #BB727F;
  width: 90%;
  max-width: 1284px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #dcb7bd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #BB727F;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
