/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "fontRegular";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Verdana.eot");
  src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana.ttf") format("truetype");
}
@font-face {
  font-family: "fontSerif";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.ttf") format("truetype");
}
@font-face {
  font-family: "fontStylized";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Allura-Regular.eot");
  src: url("../fonts/Allura-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Allura-Regular.ttf") format("truetype");
}
.container {
  width: 90%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.form-section .form-content, .form-login {
  position: relative;
  margin: 0 auto;
}

.form-section .form-content button, .form-login button, form .confirm-modal .modal-content .modal-body button, .modal .modal-content .modal-body button, .show-recipe .recipe-image .recipe-buttons .recipe-btn {
  cursor: pointer;
  background-color: #bb727f;
  padding: 0.625rem 2rem;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  color: #f0f0f0;
  font-weight: 800;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  transition: 400ms all;
}
.form-section .form-content button:hover, .form-login button:hover, form .confirm-modal .modal-content .modal-body button:hover, .modal .modal-content .modal-body button:hover, .show-recipe .recipe-image .recipe-buttons .recipe-btn:hover {
  background-color: #c88e98;
}
.form-section .form-content button:active, .form-login button:active, form .confirm-modal .modal-content .modal-body button:active, .modal .modal-content .modal-body button:active, .show-recipe .recipe-image .recipe-buttons .recipe-btn:active {
  outline: 1px dashed #c88e98;
  outline-offset: 3px;
}

.recipes .cards .card, .last-recipes .last-entrees .carousel .carousel-cell, .last-recipes .last-dishes .carousel .carousel-cell, .last-recipes .last-desserts .carousel .carousel-cell, .last-recipes .last-drinks .carousel .carousel-cell, .new-recipes .carousel .carousel-cell, .new-recipes .not-carousel .last-recipe {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: white;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 1px 1px #b5b5b5, 0 2px 2px #b5b5b5, 0 4px 4px #b5b5b5, 0 8px 8px #b5b5b5, 0 16px 16px #b5b5b5;
  border: 1px solid white;
}
.recipes .cards .card .card-content, .last-recipes .last-entrees .carousel .carousel-cell .card-content, .last-recipes .last-dishes .carousel .carousel-cell .card-content, .last-recipes .last-desserts .carousel .carousel-cell .card-content, .last-recipes .last-drinks .carousel .carousel-cell .card-content, .new-recipes .carousel .carousel-cell .card-content, .new-recipes .not-carousel .last-recipe .card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.recipes .cards .card .card-content .card-title, .last-recipes .last-entrees .carousel .carousel-cell .card-content .card-title, .last-recipes .last-dishes .carousel .carousel-cell .card-content .card-title, .last-recipes .last-desserts .carousel .carousel-cell .card-content .card-title, .last-recipes .last-drinks .carousel .carousel-cell .card-content .card-title, .new-recipes .carousel .carousel-cell .card-content .card-title, .new-recipes .not-carousel .last-recipe .card-content .card-title {
  background-color: white;
  color: #bb727f;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  width: 100%;
  text-align: center;
}
.recipes .cards .card::after, .last-recipes .last-entrees .carousel .carousel-cell::after, .last-recipes .last-dishes .carousel .carousel-cell::after, .last-recipes .last-desserts .carousel .carousel-cell::after, .last-recipes .last-drinks .carousel .carousel-cell::after, .new-recipes .carousel .carousel-cell::after, .new-recipes .not-carousel .last-recipe::after {
  display: none;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}
.recipes .cards .card:hover::after, .last-recipes .last-entrees .carousel .carousel-cell:hover::after, .last-recipes .last-dishes .carousel .carousel-cell:hover::after, .last-recipes .last-desserts .carousel .carousel-cell:hover::after, .last-recipes .last-drinks .carousel .carousel-cell:hover::after, .new-recipes .carousel .carousel-cell:hover::after, .new-recipes .not-carousel .last-recipe:hover::after {
  display: block;
  transition: all 0.7s;
}

.form-section .form-content .form-body .form-details select, .form-section .form-content .form-body .form-details input, .form-login input {
  display: block;
  width: 100%;
  margin: 0 0 1.25rem;
  padding: 0.625rem 0.9rem;
  border: 1px solid #707070;
  outline: 1px solid transparent;
  color: #bb727f;
  font-size: 0.875rem;
  font-weight: 500;
  transition: 400ms all;
  resize: none;
}
.form-section .form-content .form-body .form-details select:focus, .form-section .form-content .form-body .form-details input:focus, .form-login input:focus {
  outline: 1px solid #bb727f;
}

.nice-title {
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  line-height: 1;
  color: #707070;
  font-size: 1.8125rem;
  font-family: "fontSerif";
}
.nice-title :nth-child(2) {
  color: #bb727f;
  font-size: 2.125rem;
  font-family: "fontRegular";
  font-weight: bold;
}

.comments h2, .show-recipe .recipe-content .content-left .recipe-title, .section-title, body h2 {
  text-transform: uppercase;
  margin: 1rem 0;
  line-height: 1;
  color: #707070;
  font-size: 1.4rem;
  text-align: left;
}
.comments h2::after, .show-recipe .recipe-content .content-left .recipe-title::after, .section-title::after, body h2::after {
  content: "";
  display: block;
  width: 99%;
  border: 1px solid #b5b5b5;
}

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: white;
  font-family: "fontRegular";
  color: #707070;
  font-size: 1rem;
  margin-bottom: 200px;
}
body * {
  box-sizing: border-box;
}
body a {
  font-family: "fontRegular";
  color: #707070;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "fontRegular";
}
@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}

.under-button {
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
}
.under-button :first-child {
  color: #bb727f;
  font-family: "fontRegular";
  font-weight: 600;
}

.scroll {
  position: fixed;
  bottom: 25px;
  z-index: 99;
  outline: none;
  background-color: #efefef;
  border: 1px solid #333;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
}
.scroll-top {
  right: 25px;
}

.new-recipes {
  padding: 3rem 0;
}
.new-recipes .not-carousel {
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  height: 300px;
}
.new-recipes .not-carousel .last-recipe:first-child {
  width: 50%;
  height: 300px;
}
.new-recipes .not-carousel .last-recipe:nth-child(2), .new-recipes .not-carousel .last-recipe:nth-child(3) {
  width: 50%;
  height: 150px;
}
@media screen and (min-width: 960px) {
  .new-recipes .not-carousel .last-recipe {
    width: calc(100% / 3) !important;
    height: 300px !important;
  }
}
@media screen and (min-width: calc(540px + 1px)) {
  .new-recipes .not-carousel {
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .new-recipes .not-carousel {
    display: none;
  }
}
.new-recipes .carousel .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background-color: #bb727f;
}
.new-recipes .carousel .carousel-cell {
  width: 100%;
  height: 300px;
  margin-right: 10px;
  background: #b5b5b5;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: calc(540px + 1px)) {
  .new-recipes .carousel {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .new-recipes .carousel {
    display: block;
  }
}

.last-recipes {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.last-recipes .last-entrees, .last-recipes .last-dishes, .last-recipes .last-desserts, .last-recipes .last-drinks {
  width: 50%;
  padding: 2rem 0.4rem;
}
@media screen and (max-width: 720px) {
  .last-recipes .last-entrees, .last-recipes .last-dishes, .last-recipes .last-desserts, .last-recipes .last-drinks {
    width: 100%;
  }
}
.last-recipes .last-entrees .carousel .flickity-page-dots .dot, .last-recipes .last-dishes .carousel .flickity-page-dots .dot, .last-recipes .last-desserts .carousel .flickity-page-dots .dot, .last-recipes .last-drinks .carousel .flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 0;
  border-radius: 0;
  background-color: #bb727f;
}
.last-recipes .last-entrees .carousel .carousel-cell, .last-recipes .last-dishes .carousel .carousel-cell, .last-recipes .last-desserts .carousel .carousel-cell, .last-recipes .last-drinks .carousel .carousel-cell {
  width: 33%;
  height: 200px;
  margin-right: 10px;
  background: #b5b5b5;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  .last-recipes .last-entrees .carousel .carousel-cell, .last-recipes .last-dishes .carousel .carousel-cell, .last-recipes .last-desserts .carousel .carousel-cell, .last-recipes .last-drinks .carousel .carousel-cell {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .last-recipes .last-entrees .carousel .carousel-cell, .last-recipes .last-dishes .carousel .carousel-cell, .last-recipes .last-desserts .carousel .carousel-cell, .last-recipes .last-drinks .carousel .carousel-cell {
    width: 33%;
  }
}
@media screen and (max-width: 540px) {
  .last-recipes .last-entrees .carousel .carousel-cell, .last-recipes .last-dishes .carousel .carousel-cell, .last-recipes .last-desserts .carousel .carousel-cell, .last-recipes .last-drinks .carousel .carousel-cell {
    width: 100%;
  }
}

.show-recipe {
  padding: 3rem 0;
}
.show-recipe .recipe-image {
  text-align: center;
  width: 100%;
  height: 50vh;
  max-height: 600px;
  background-color: #707070;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 1px #b5b5b5, 0 2px 2px #b5b5b5, 0 4px 4px #b5b5b5, 0 8px 8px #b5b5b5, 0 16px 16px #b5b5b5;
}
.show-recipe .recipe-image .recipe-buttons {
  position: relative;
  display: flex;
  top: 100%;
  transform: translate(0, -50%);
  box-shadow: 0 0 3px #b5b5b5;
}
.show-recipe .recipe-image .recipe-buttons .recipe-btn {
  vertical-align: center;
  width: 50%;
}
.show-recipe .recipe-image .recipe-buttons .recipe-btn:first-child {
  border-right: 1px solid white;
}
.show-recipe .recipe-image .recipe-buttons .recipe-btn i {
  display: none;
}
@media screen and (max-width: 540px) {
  .show-recipe .recipe-image .recipe-buttons .recipe-btn i {
    display: block;
  }
  .show-recipe .recipe-image .recipe-buttons .recipe-btn span {
    display: none;
  }
}
.show-recipe .recipe-content {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.show-recipe .recipe-content .content-left {
  flex: 75%;
}
.show-recipe .recipe-content .content-left .recipe-date {
  font-size: 0.875rem;
}
.show-recipe .recipe-content .content-left .recipe-description {
  box-shadow: -0.4rem 0 0 0 #bb727f;
  border-left: 0.4rem solid transparent;
}

@media screen and (max-width: 720px) {
  .show-recipe .recipe-image {
    height: 30vh;
  }
  .show-recipe .recipe-content {
    padding: 2rem 0.4rem;
  }
}
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content */
}
.modal .modal-content {
  position: relative;
  top: 50%;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 0 3px #b5b5b5;
  animation-name: animatetop;
  animation-duration: 0.5s;
  opacity: 1;
}
@media screen and (max-width: 720px) {
  .modal .modal-content {
    width: 100% !important;
  }
}
@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal .modal-content .modal-header {
  padding: 0.625rem 0.9rem;
  background-color: #bb727f;
  color: white;
  /* The Close Button */
}
.modal .modal-content .modal-header .modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .modal-header .modal-close:hover,
.modal .modal-content .modal-header .modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.modal .modal-content .modal-body {
  padding: 1rem;
}
.modal .modal-content .modal-body textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.modal .modal-content .modal-body button {
  width: 100%;
}

form {
  /* Modal background */
}
form .confirm-modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content */
}
form .confirm-modal .modal-content {
  position: relative;
  top: 50%;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 200px;
  box-shadow: 0 0 3px #b5b5b5;
  animation-name: animatetop;
  animation-duration: 0.5s;
  opacity: 1;
}
@media screen and (max-width: 720px) {
  form .confirm-modal .modal-content {
    width: 100% !important;
  }
}
@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
form .confirm-modal .modal-content .modal-header {
  padding: 0.625rem 0.9rem;
  background-color: #bb727f;
  color: white;
  /* The Close Button */
}
form .confirm-modal .modal-content .modal-header .confirm-modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
form .confirm-modal .modal-content .modal-header .confirm-modal-close:hover,
form .confirm-modal .modal-content .modal-header .confirm-modal-close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
form .confirm-modal .modal-content .modal-body {
  padding: 1rem;
}
form .confirm-modal .modal-content .modal-body textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
form .confirm-modal .modal-content .modal-body button {
  width: 100%;
}

.site-footer {
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #bb727f;
  color: white;
  width: 100%;
  padding: 2rem 0.4rem;
}
.site-footer .site-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer .site-footer-content .site-footer-head {
  text-align: center;
  width: 100%;
}
.site-footer .site-footer-content .site-footer-head :not(:first-child) {
  color: #bb727f;
}
.site-footer .site-footer-content .site-footer-head :not(:first-child) .icon-background {
  color: white;
}
.site-footer .site-footer-content .site-footer-body {
  width: 100%;
  border: solid 1px yellow;
  display: flex;
  flex-wrap: wrap;
}
.site-footer .site-footer-content .site-footer-body > * {
  border: 1px solid green;
  width: 50%;
}
.site-footer .site-footer-content .site-footer-footer {
  padding-top: 2rem;
  text-align: center;
  font-size: 0.875rem;
  width: 100%;
}
.site-footer .site-footer-content .site-footer-footer a {
  color: white;
}

@keyframes slideDownAlert {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#alert {
  position: absolute;
  z-index: 100;
  top: 70px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 2em;
  overflow: hidden;
  box-shadow: 0 0 5px #333333;
  animation: slideDownAlert 1s linear;
  font-size: 1.2em;
}
#alert button {
  background-color: transparent;
  color: #333333;
  outline: none;
  border: none;
  font-size: 1.5em;
  vertical-align: center;
}
#alert.alert-error {
  background: #dc3545;
}
#alert.alert-success {
  background: #28a745;
}

.login {
  padding: 3rem 0;
}

.form-login {
  box-shadow: 0 0 3px #b5b5b5;
  background: white;
  width: 600px;
  padding: 2.5rem;
}
.form-login button {
  width: 100%;
}
.form-login li {
  color: #ff5d6d;
}

@media screen and (max-width: 960px) {
  .form-login {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 540px) {
  .form-login {
    padding: 1rem;
  }
}
.signin {
  padding: 3rem 0;
}

.form-login {
  box-shadow: 0 0 3px #b5b5b5;
  background: white;
  width: 600px;
  padding: 2.5rem;
}
.form-login button {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .form-login {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 540px) {
  .form-login {
    padding: 1rem;
  }
}
nav {
  text-transform: uppercase;
  background-color: white;
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  padding-left: 2em;
}
nav ul li:last-child {
  display: none;
}
nav a {
  color: #b5b5b5;
  font-size: 1.4rem;
  font-family: "fontSerif";
}
nav a img {
  max-height: calc(100px * 0.75);
}
nav a:hover {
  color: #bb727f;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 0;
    align-items: baseline;
  }
  nav > a {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  nav ul li:not(:last-child) {
    display: none;
  }
  nav ul li:last-child {
    display: block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
  }
  nav ul li:last-child a {
    font-size: 2.125rem;
  }
  nav ul.responsive {
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
  }
  nav ul.responsive li:not(:last-child) {
    display: block;
    width: 100%;
    background-color: white;
    z-index: 50;
    height: 100px;
    position: relative;
    padding: 0;
  }
  nav ul.responsive li:not(:last-child) a {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.navLines {
  height: 10px;
  border-top: 1px solid #bb727f;
  border-bottom: 1px solid #bb727f;
  margin: 0 1vw;
}

.recipes {
  padding: 3rem 0;
}
.recipes .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.recipes .cards .card {
  height: 200px;
  margin: 0.25rem;
}
@media screen and (min-width: calc(960px + 1px)) {
  .recipes .cards .card {
    width: calc(25% - 0.5rem);
  }
}
@media screen and (max-width: 960px) {
  .recipes .cards .card {
    width: calc(33% - 0.5rem);
  }
}
@media screen and (max-width: 720px) {
  .recipes .cards .card {
    width: calc(50% - 0.56rem);
  }
}
@media screen and (max-width: 540px) {
  .recipes .cards .card {
    width: 100%;
    height: 100px;
  }
}

.form-section {
  padding: 3rem 0;
}
.form-section .form-content {
  width: 100%;
  box-shadow: 0 0 3px #b5b5b5;
  background: white;
  padding: 2.5rem;
}
@media screen and (max-width: 540px) {
  .form-section .form-content {
    padding: 3rem 0;
  }
}
.form-section .form-content .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  margin: 0 0 1.25rem;
}
.form-section .form-content .form-body .form-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
.form-section .form-content .form-body .form-details select {
  margin: 0;
}
.form-section .form-content .form-body .form-details li {
  color: #ff5d6d;
}
.form-section .form-content .form-body .form-description {
  width: 55%;
}
@media screen and (max-width: 540px) {
  .form-section .form-content .form-body {
    height: auto;
    flex-direction: column;
  }
  .form-section .form-content .form-body .form-details {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .form-section .form-content .form-body .form-description {
    width: 100%;
  }
}
.form-section .form-content button {
  width: 100%;
}

@media screen and (max-width: 960px) {
  .form-login {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 540px) {
  .form-login {
    padding: 1rem;
  }
}
/* Style the tab */
.tabs {
  overflow: hidden;
  border-bottom: double 1px #bb727f;
  width: 90%;
  max-width: 1284px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tabs button:hover {
  background-color: #dcb7bd;
}

/* Create an active/current tablink class */
.tabs button.active {
  background-color: #bb727f;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.comments .comment {
  padding: 0.625rem 0.9rem;
  border-bottom: 1px solid #707070;
}
.comments .comment:nth-child(2n+1) {
  background-color: white;
  box-shadow: -0.2rem 0 0 0 #f0f0f0;
}
.comments .comment:nth-child(2n) {
  background-color: #f0f0f0;
  box-shadow: -0.2rem 0 0 0 gainsboro;
}

/*# sourceMappingURL=style.css.map */
