{# _embed.html.twig #}
<ul class="categories">
	<li>
		<h3>Catégories</h3>
	</li>
	{% for category in categories %}
		<li><a href="">{{category.name}}</a></li>
	{% endfor %}
</ul>
<ul class="partners">
	<li>
		<h3>Nos partenaires</h3>
	</li>
	{% for partner in partners %}
		<li>
			<a href="{{partner.link}}">{{partner.name}}</a>
		</li>
	{% endfor %}
</ul>
