<section id="header" class="container">
	<form class="searchBar" action="">
		<label for="searchBar">Découvrez de nouvelles recettes délicieuses</label>
		<input type="text" id="searchBar" name="searchBar" disabled placeholder="Recherchez une recette (fonctionnalité à venir !)">
		<button type="button" value="OK">OK</button>
	</form>
</section>