{% extends 'base.html.twig' %}
{% block title %}Food and Go - Modifiez votre mot de passe
{% endblock %}


{% block body %}

	<section class="form-login">
		{{form_start(form)}}
		{{form_widget(form)}}

		<button type="submit">
			<i class="fa fa-save" aria-hidden="true"></i>
		</button>
		{{form_end(form)}}
	</section>


{% endblock %}
